body {
    margin: 0;
    padding: 0;
    font-family: IRANSans !important;

}

textarea {
    width: 93%;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    resize:none;
}

h1 {
    text-align: center;
}

#backwardBtn {
    border:none;
    background-color: #7878cb;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    color: antiquewhite;
}